@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,800;1,100;1,200;1,500;1,600;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Popins, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

nav ul {
    display: inline-block;

}

.barralateral {
    background-color: #1E1E1F;
    padding-left: -20px;
}

article {
    padding-left: 5%;
    width: 70%;
}

.service li {
    list-style-type: none;
    background-color: #D9D9D9;
    border-radius: 17px;
}

.myservice {
    padding-top: 6%;
    padding-bottom: 15%;
}

#sobremim {
    max-width: 925px;
    padding-bottom: 15%;
}

#barralateral {
    position: absolute;
    background-color: #1E1E1F;
    border-radius: 30px;
    padding: 15px;
    max-width: 250px;
    padding: -10px;
    left: 50px;
}

#barralateral ul li {
    background-color: transparent;
    display: inline-block;
}

section {
    position: absolute;
    left: 450px;
}
