@charset "UTF-8";

body {
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif; color: white;
    text-align: justify;
}
div {
    background-color: rgb(34, 34, 34);
    border: 2px;
    border-radius: 15px;
    padding: 50px;
    width: 600px;
}
#cardlateral {
    height: 411px;
    width: 249px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

#about {
    margin: -458px 20px 100px 280px;

}

#card {
    background-color: #808080;
    width: 380px;
    border: 3px;
    color: aliceblue;
}