@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,800;1,100;1,200;1,500;1,600;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Popins, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.barralateral {
    background-color: #1E1E1F;
}

article {
    float: left;
    padding-left: 30%;
    width: 70%;
}

.service li {
    list-style-type: none;
}

.myservice {
    padding-top: 6%;
    padding-bottom: 15%;
}

.sobre {
    padding-bottom: 15%;
}

aside {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 250px;
    padding: -20px;
}

aside ul {
    background-color: transparent;
    list-style-type: none;
}
