@charset "UTF-8";

body {
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif; color: white;
    text-align: justify;
}
div {
    background-color: rgb(34, 34, 34);
    border: 2px;
    border-radius: 15px;
}
div#cardlateral {
    height: 395px;
    width: 295px;
    border-radius: 10px;
}
