@charset "UTF-8";

body {
    background-color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif; color: white;
    text-align: justify;
}

#menu-header {
    list-style-type: none;
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

#menu-header li{
    display: inline;
    padding: 10px;
}