@charset "UTF-8";

body {
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif; color: white;
    text-align: justify;
}
div {
    background-color: rgb(34, 34, 34);
    border: 2px;
    border-radius: 15px;
    padding: 25px;
    width: 800px;
}
#cardlateral {
    height: 395px;
    width: 295px;
    border-radius: 10px;
    padding: 25px;
    margin: 35px;
}

#about {
    margin: 20px 20px 100px 400px;

}

#card {
    background-color: #808080;
    width: 380px;
    border: 3px;
    color: aliceblue;
}