@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif; color: white;
    text-align: justify;
}

#menu-header {
    max-width: 800px;
    background-color: #808080;
    list-style-type: none;
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

#menu-header li {
    display: inline;
}

#menu-header li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 13px;
}

#menu-header li a:hover {
    color: rgb(248, 195, 79);
    display: inline-block;
    text-decoration: none;
    padding: 13px;
}

aside {
    background-color: #992828;
    display: inline-block;
    margin: 20px;
    max-width: 250px;
    padding: 40px;
}

#lista-ctt ul {
    list-style-type: none;
}

#barra-redes {
    display: inline;
}
#icon-email {
    background-color: aqua;
}

#icon-wp {
    background-color: aqua;
}

#about {
    background-color: #992828;
    max-width: 1000px;
    padding: 20px;
}

#service {
    background-color: #808080;
    list-style-type: none;
}

footer p {
    display: inline-block;
    padding: 20px;
    text-align: center;
}