@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,800;1,100;1,200;1,500;1,600;1,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Popins, Helvetica, sans-serif;
    color: white;
    background-color: black;
    
}
body {
    background-color: #121212;
}

.nav-menu {
    display: inline;
}

#menu-header li {
    list-style: none;
    display: inline-block; 
    padding: 10px; 
}

.sidebar {
    max-width: 250px;
    padding: 15px;
    
}

.lista-sidebar {
    
    list-style: none;
    padding: 5px;
}
.redes-sociais {
    list-style: none;
    display: inline-block;
    padding: 45px;
}

.redes-sociais li {
    list-style: none;
    display: inline;
    padding: 5px;
}

.service {
    list-style: none;
}

footer {
    align-content: center;
    color: #E3B100;
}

#service li {
    display: inline-block;
}